body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ff6a6a 0%, #b759fd 100%);
}

#container {
  width: 30em;
  height: auto;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  border-radius: 8px;
  box-shadow: 0 16px 24px 5px rgba(0, 0, 0, 0.25), 0 8px 16px 0px rgba(0, 0, 0, 0.5);
}

#waves {
  height: 180px!important; 
  width: 100%!important; 
}

#answer {
  font-family: arial;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #464646;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#box_small {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 180px;
}

#output {
  position: absolute;
  font-size: 2em;
  top: 80px;

}

.btn {
  position: absolute;
  border:none;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 15px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: .08em;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

#send {
  position: relative;
  top: 160px;
  display: none;
}

textarea {
  outline: none;
  background: none;
  resize: none;
  border: none;
  text-align: center;
}

@media screen and (max-width: 490px) {
    #container {
      width: 24em;
    }

    #waves {
  height: 150px!important;
  width: 100%!important; 
  }
}

@media screen and (max-width: 420px) {
  #container {
      width: 22em;
    }
}

@media screen and (max-width: 400px) {
  #container {
      width: 22em;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.example_e {
border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding: 15px;
border-radius: 30px;
display: inline-block;
transition: all 0.3s ease 0s;
cursor: pointer;
letter-spacing: .08em;
outline: none;
}

.example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

::selection {
background: #db61b5;
}
::-webkit-selection {
background: #db61b5;
}
::-moz-selection {
background: #db61b5;
}

#footer {
    position: absolute;
    color: white;
    background: #2b2b2b;
    width: 100%;
    bottom: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
  width: 60px;
  padding-left: 20px;
}

#coppyright {
    font-family: arial;
    font-weight: 200;
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    padding-right: 20px;
}

@media screen and (max-width: 490px) {

  #footer {
    background: unset;
  }
  #coppyright {
    color: #1b1b1b;
    margin-left: 15px;
  }
  #avatar {
    opacity: 0.7;
  }
}


